*{
    font-family: verdana;
    margin:0 ;
}

body{
    background: grey;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* Menu base style */
 nav{
     background-color: rgb(131, 80, 38);
 }

 nav ul{
     list-style-type: none;
     padding: 0;
 }

 nav a{
     text-decoration: none;
     text-align: center;
     color: white;
     display: block;
     padding: 10px;

 }

 nav a:hover{
     background-color: rgb(133, 117, 82);
 }

 /*flex styles*/
@media screen and (min-width: 768px){

 nav ul{
     display: flex;
     justify-content: ;
     justify-content: space-around;
 }

 nav li{
     /*flex: 1 1 0;*/
 }

}